.banner-container {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;  
}

.banner-image {
  width: 100%;
  height: 320px;              
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}


.banner-image:hover {
  transform: scale(1.03);         
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  cursor: pointer;
}


.fade {
  animation: fadeEffect 1s ease-in-out;
}

@keyframes fadeEffect {
  from { opacity: 0; }
  to   { opacity: 1; }
}
