@import "tailwindcss";

:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

body {
  font-family: var(--font-primary);
  background-color: #d5e2f6;
  color: #0e3153;
  margin: 0;
  padding: 0;
}

